.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 7.4em 160.1em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.apple:before {
      background-position: 0em 0em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-down:before {
      background-position: 0em -2.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-left:before {
      background-position: 0em -4.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-right:before {
      background-position: 0em -7.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-up:before {
      background-position: 0em -9.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.calendar:before {
      background-position: 0em -12em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-daily:before {
      background-position: 0em -14.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-detox:before {
      background-position: 0em -16.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-light:before {
      background-position: 0em -19.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-normal:before {
      background-position: 0em -21.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-strong:before {
      background-position: 0em -24em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-veggi:before {
      background-position: 0em -26.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.chat:before {
      background-position: 0em -28.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cheched:before {
      background-position: 0em -31.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.check-wave:before {
      background-position: 0em -33.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.clock:before {
      background-position: 0em -36em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.close:before {
      background-position: 0em -38.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.close-round:before {
      background-position: 0em -40.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.coin:before {
      background-position: 0em -43.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cook:before {
      background-position: 0em -45.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.delete:before {
      background-position: 0em -48em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.deliver:before {
      background-position: 0em -50.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.dish:before {
      background-position: 0em -52.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.edit:before {
      background-position: 0em -55.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.energy:before {
      background-position: 0em -57.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.exit:before {
      background-position: 0em -60em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.filter:before {
      background-position: 0em -62.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.folder-menu:before {
      background-position: 0em -64.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.info:before {
      background-position: 0em -67.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.like:before {
      background-position: 0em -69.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.link:before {
      background-position: 0em -72em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.location:before {
      background-position: 0em -74.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.lock:before {
      background-position: 0em -76.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.mail:before {
      background-position: 0em -79.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.menu:before {
      background-position: 0em -81.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.money:before {
      background-position: 0em -84em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.more:before {
      background-position: 0em -86.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.navigation:before {
      background-position: 0em -88.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.pay-halva:before {
      background-position: 0em -91.2em;
      width: 7.4em;
      height: 1.7em;
  }




  .icon.phone:before {
      background-position: 0em -92.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.phone-dark:before {
      background-position: 0em -95.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.play:before {
      background-position: 0em -97.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.plus:before {
      background-position: 0em -100.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.plus-round:before {
      background-position: 0em -102.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.profile:before {
      background-position: 0em -104.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.profile-round:before {
      background-position: 0em -107.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.question:before {
      background-position: 0em -109.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.rating:before {
      background-position: 0em -112.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.reload:before {
      background-position: 0em -114.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.settings:before {
      background-position: 0em -116.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.share:before {
      background-position: 0em -119.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.snow:before {
      background-position: 0em -121.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-fb:before {
      background-position: 0em -124.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-inst:before {
      background-position: 0em -126.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-inst-light:before {
      background-position: 0em -128.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -131.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram-light:before {
      background-position: 0em -133.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-viber:before {
      background-position: 0em -136.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-vk:before {
      background-position: 0em -138.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp:before {
      background-position: 0em -140.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp-light:before {
      background-position: 0em -143.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.squares:before {
      background-position: 0em -145.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.star:before {
      background-position: 0em -148.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.stop:before {
      background-position: 0em -150.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.surprise:before {
      background-position: 0em -152.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.time:before {
      background-position: 0em -155.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.view:before {
      background-position: 0em -157.7em;
      width: 2.4em;
      height: 2.4em;
  }





