.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 6.4em 172.3em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.apple:before {
      background-position: 0em 0em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-down:before {
      background-position: 0em -2.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-left:before {
      background-position: 0em -4.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-right:before {
      background-position: 0em -7.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.arrow-up:before {
      background-position: 0em -9.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.calendar:before {
      background-position: 0em -12em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-daily:before {
      background-position: 0em -14.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-detox:before {
      background-position: 0em -16.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-light:before {
      background-position: 0em -19.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-normal:before {
      background-position: 0em -21.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-strong:before {
      background-position: 0em -24em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cat-veggi:before {
      background-position: 0em -26.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.chat:before {
      background-position: 0em -28.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.check-wave:before {
      background-position: 0em -31.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.checked:before {
      background-position: 0em -33.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.clock:before {
      background-position: 0em -36em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.close:before {
      background-position: 0em -38.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.close-round:before {
      background-position: 0em -40.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.coin:before {
      background-position: 0em -43.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.cook:before {
      background-position: 0em -45.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.copy:before {
      background-position: 0em -48em;
      width: 2.1em;
      height: 2.4em;
  }




  .icon.delete:before {
      background-position: 0em -50.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.deliver:before {
      background-position: 0em -52.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.dish:before {
      background-position: 0em -55.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.edit:before {
      background-position: 0em -57.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.energy:before {
      background-position: 0em -60em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.exit:before {
      background-position: 0em -62.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.filter:before {
      background-position: 0em -64.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.folder-menu:before {
      background-position: 0em -67.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.info:before {
      background-position: 0em -69.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.like:before {
      background-position: 0em -72em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.link:before {
      background-position: 0em -74.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.location:before {
      background-position: 0em -76.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.lock:before {
      background-position: 0em -79.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.mail:before {
      background-position: 0em -81.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.menu:before {
      background-position: 0em -84em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.money:before {
      background-position: 0em -86.4em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.more:before {
      background-position: 0em -88.8em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.navigation:before {
      background-position: 0em -91.2em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.pay-apple:before {
      background-position: 0em -93.6em;
      width: 5.6em;
      height: 2.4em;
  }




  .icon.pay-google:before {
      background-position: 0em -96em;
      width: 5.8em;
      height: 2.3em;
  }




  .icon.pay-halva:before {
      background-position: 0em -98.3em;
      width: 6.4em;
      height: 1.6em;
  }




  .icon.pay-master:before {
      background-position: 0em -99.9em;
      width: 3.9em;
      height: 2.1em;
  }




  .icon.pay-mir:before {
      background-position: 0em -102em;
      width: 5.3em;
      height: 1.5em;
  }




  .icon.pay-visa:before {
      background-position: 0em -103.5em;
      width: 5.2em;
      height: 1.6em;
  }




  .icon.phone:before {
      background-position: 0em -105.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.phone-dark:before {
      background-position: 0em -107.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.play:before {
      background-position: 0em -109.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.plus:before {
      background-position: 0em -112.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.plus-round:before {
      background-position: 0em -114.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.profile:before {
      background-position: 0em -117.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.profile-round:before {
      background-position: 0em -119.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.question:before {
      background-position: 0em -121.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.rating:before {
      background-position: 0em -124.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.reload:before {
      background-position: 0em -126.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.settings:before {
      background-position: 0em -129.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.share:before {
      background-position: 0em -131.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.snow:before {
      background-position: 0em -133.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-fb:before {
      background-position: 0em -136.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-inst:before {
      background-position: 0em -138.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-inst-light:before {
      background-position: 0em -141.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -143.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-telegram-light:before {
      background-position: 0em -145.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-viber:before {
      background-position: 0em -148.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-vk:before {
      background-position: 0em -150.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp:before {
      background-position: 0em -153.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.soc-wp-light:before {
      background-position: 0em -155.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.squares:before {
      background-position: 0em -157.9em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.star:before {
      background-position: 0em -160.3em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.stop:before {
      background-position: 0em -162.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.surprise:before {
      background-position: 0em -165.1em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.time:before {
      background-position: 0em -167.5em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.view:before {
      background-position: 0em -169.9em;
      width: 2.4em;
      height: 2.4em;
  }





