// === Curent color ===
navy = #001F3F
blue = #3a90c8
aqua = #7FDBFF
teal = #39CCCC
olive = #3D9970
green = #2ECC40
lime = #01FF70
yellow = #FFDC00
orange = #FF851B
red = #FF4136
fuchsia = #F012BE
purple = #B10DC9
maroon = #85144B
white = #FFFFFF
silver = #DDDDDD
gray = #AAAAAA
black = #111111


//MAIN COLORS
$mark = #7ECA1D

$greenDark = #65a217
$greenPrimary = #7ECA1D
$green = #a9d96b
$greenLight = #e6f2d6

$grayPrimary = #565762
$gray = #adaeb9
$grayLight = #c4c5cc

//ADD COlORS

$pink = #ff6889
$pinkLight = #ffe1e7
$violet = #6b33b2
$violetLight = #ebe2f7
$orange = #ff7b27
$orangeLight = #ffe5d4
$blue = #0065bd
$blueLight = #d4ebff
$sea = #1dd0c7
$seaLight = #d5f9f7
$swapm = #768668
$swapmLight = #e4e7e0

//TYPOGRAPHY COLORS

$typePrimary = #5c5e6e
$typeSecondary = #9699a8
$typeDisable = #c8cad4

//UI COLORS

$borderHover = #bfc0c9
$border = $border-color = #dcdfe8
$fieldBackground = #f1f2f6
$overlay = rgba(32, 34, 44, 0.5)

$gradient = linear-gradient(98.95deg, #E3EEFF 0%, #E4F6E4 52.6%, #FFEEE4 100%)

//STATE COLORS

$stateErrorBG = #ffe1e6
$stateError = #d00025

$stateSuccessBG = #edfdd9
$stateSuccess = #5da600

$stateWarningBG = #ffedd8
$stateWarning = #ff8a00

//========================================


$main-text-color = $typePrimary

$link-color = black
$link-color-visited = gray
$link-color-hover = black
