.disabled,
.btn--disable,
.input--disable,
.style-label--disable {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.old-browser {
  background: #808080;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.filter-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17,17,17,0.612);
}
.drop {
  transform: scaleY(0);
  transition: all 0.4s;
  transform-origin: top;
  opacity: 0;
}
.drop.active {
  transform: scaleY(1);
  opacity: 1;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.woff2") format('woff2'), url("../fonts/Ubuntu-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Medium.woff2") format('woff2'), url("../fonts/Ubuntu-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Bold.woff2") format('woff2'), url("../fonts/Ubuntu-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}
.type--sm,
.title--sm,
.dropdown-title {
  font-size: 12px;
}
@media only screen and (max-width: 768px) {
  .type--sm,
  .title--sm,
  .dropdown-title {
    font-size: 10px;
  }
}
.type--smx {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--smx {
    font-size: 12px;
  }
}
.type--main,
.title--main,
p,
.btn--sm {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  .title--main,
  p,
  .btn--sm {
    font-size: 14px;
  }
}
.type--md,
.title--md,
h5,
.btn--smx,
.btn--md {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  .type--md,
  .title--md,
  h5,
  .btn--smx,
  .btn--md {
    font-size: 18px;
  }
}
.type--mdx,
h4 {
  font-size: 24px;
}
@media only screen and (max-width: 768px) {
  .type--mdx,
  h4 {
    font-size: 20px;
  }
}
.type--lg,
.title--lg,
h3 {
  font-size: 32px;
}
@media only screen and (max-width: 768px) {
  .type--lg,
  .title--lg,
  h3 {
    font-size: 24px;
  }
}
.type--lgx,
.title--lgx,
h2 {
  font-size: 44px;
}
@media only screen and (max-width: 768px) {
  .type--lgx,
  .title--lgx,
  h2 {
    font-size: 32px;
  }
}
.type--xl,
.title--xl,
h1 {
  font-size: 64px;
}
@media only screen and (max-width: 768px) {
  .type--xl,
  .title--xl,
  h1 {
    font-size: 44px;
  }
}
.type--mark {
  color: #7eca1d;
}
.type--bold {
  font-weight: bold;
}
.type--center {
  text-align: center;
}
.title {
  margin-bottom: 48px;
  font-weight: 700;
  color: #111;
}
h5 {
  color: #111;
}
h4 {
  color: #111;
}
h3 {
  color: #111;
}
h2 {
  color: #111;
}
h1 {
  color: #111;
}
a {
  color: #111;
  text-decoration: none;
  transition: all 0.4s;
}
a:hover {
  color: #000;
}
a:visiter {
  color: #000;
}
.link--mark {
  color: #7eca1d;
  transition: color 0.4s;
}
.link--mark:hover {
  cursor: pointer;
}
.link--mark:hover {
  color: #65a217;
}
.link--mark:visiter {
  color: #65a217;
}
.link {
  transition: color 0.4s;
  color: #111;
}
.link:hover {
  cursor: pointer;
}
.link:hover {
  color: #7eca1d;
}
.link:visiter {
  color: #7eca1d;
}
.link--text {
  color: #111;
  text-decoration: underline;
}
.link--text:hover {
  text-decoration: none;
}
.text p {
  line-height: 1.6;
  margin-bottom: 30px;
}
.text ul {
  margin-bottom: 30px;
}
.text ul li {
  line-height: 1.6;
  margin-bottom: 10px;
}
.text ul li:last-child {
  margin-bottom: 0;
}
.icon-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.icon {
  width: 24px;
  height: 24px;
}
.icon--md {
  width: 32px;
  height: 32px;
}
.icon--lg {
  width: 48px;
  height: 48px;
}
.icon--xl {
  width: 80px;
  height: 80px;
}
.icon--left {
  margin-left: 10px;
}
.icon--right {
  margin-right: 10px;
}
.icon--mark {
  fill: #7eca1d;
}
.icon--gray {
  fill: #adaeb9;
}
.btn,
.btn--sm,
.btn--smx,
.btn--md,
.btn--lg,
.btn--mobile,
.btn--mark,
.btn--light,
.btn--white {
  border-radius: 32px;
  transition: all 0.4s;
  display: inline-block;
  background: none;
  border: 0;
  text-align: center;
  position: relative;
}
.btn:before,
.btn--sm:before,
.btn--smx:before,
.btn--md:before,
.btn--lg:before,
.btn--mobile:before,
.btn--mark:before,
.btn--light:before,
.btn--white:before {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  left: -5px;
  top: -5px;
  border-radius: 34px;
  opacity: 0;
}
.btn:hover,
.btn--sm:hover,
.btn--smx:hover,
.btn--md:hover,
.btn--lg:hover,
.btn--mobile:hover,
.btn--mark:hover,
.btn--light:hover,
.btn--white:hover {
  cursor: pointer;
}
.btn:before,
.btn--sm:before,
.btn--smx:before,
.btn--md:before,
.btn--lg:before,
.btn--mobile:before,
.btn--mark:before,
.btn--light:before,
.btn--white:before {
  content: '';
  opacity: 1;
}
.btn--sm {
  padding: 10px 40px;
  font-weight: 500;
}
.btn--smx {
  padding: 18px 42px;
  font-weight: 500;
}
.btn--md {
  padding: 18px 50px;
  font-weight: 700;
}
.btn--lg {
  font-size: 20px;
  padding: 10px 30px;
}
@media only screen and (max-width: 768px) {
  .btn--mobile {
    width: 100%;
    text-align: center;
  }
}
.btn--mark {
  color: #fff;
  background: #7eca1d;
}
.btn--mark .nav-icon {
  fill: #fff;
}
.btn--mark:hover {
  background-color: #65a217;
  color: #fff !important;
}
.btn--mark:active:before {
  content: '';
  border: 2px solid #a9d96b;
}
.btn--mark input[type="submit"] {
  border: 0;
}
.btn--mark .nav-icon {
  fill: #fff;
}
.btn--disable {
  border: 1px solid #dcdfe8;
  background-color: #c4c5cc;
}
.btn--light {
  border: 1px solid #dcdfe8;
  background-color: #fff;
  color: #7eca1d;
}
.btn--light .nav-icon {
  fill: #7eca1d;
}
.btn--light:hover {
  background: #f1f2f6;
  border: 1px solid #f1f2f6;
}
.btn--light:active:before {
  content: '';
  border: 2px solid #e6f2d6;
}
.btn--white {
  color: #111;
  background: #fff;
  font-weight: 700;
}
.btn--white:hover {
  background: rgba(255,255,255,0.8);
}
.btn--white .nav-icon {
  fill: rgba(255,255,255,0.9);
}
.btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn--icon .nav-icon {
  margin-left: 10px;
}
.nav-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.btn--icon-left .nav-icon {
  margin-left: 0;
  margin-right: 10px;
}
.btn-row-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.btn-row-mid--clear {
  margin: 0;
}
.btn--full {
  width: 100%;
  display: block;
}
.input,
.textarea,
.select {
  padding: 24px 20px 12px 20px;
  border: 1px solid #dcdfe8;
  resize: none;
  outline: 0 !important;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
  display: block !important;
  background: #f1f2f6;
  transition: all 0.4s;
  line-height: 1.6;
}
.input input::-webkit-input-placeholder,
.textarea input::-webkit-input-placeholder,
.select input::-webkit-input-placeholder {
  color: #888;
}
.input input::-moz-placeholder,
.textarea input::-moz-placeholder,
.select input::-moz-placeholder {
  color: #888;
}
.input input:-moz-placeholder,
.textarea input:-moz-placeholder,
.select input:-moz-placeholder {
  color: #888;
}
.input input:-ms-input-placeholder,
.textarea input:-ms-input-placeholder,
.select input:-ms-input-placeholder {
  color: #888;
}
.input:focus,
.textarea:focus,
.select:focus {
  border: 1px solid #bfc0c9;
  background: #fff;
  color: #111;
}
.input--disable + .input-placeholder-val {
  color: #c8cad4;
}
.style-label {
  display: flex;
  position: relative;
  align-items: center;
}
.check-el input {
  position: absolute;
  top: 0;
  left: -9999px;
}
.style-input-text {
  color: #111;
  width: calc(100% - 60px);
  line-height: 1.6;
}
.style-input-text a {
  color: #7eca1d;
}
.style-label--checkbox .style-input-element {
  border-radius: 4px;
  transition: all 0.4s;
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 1px solid #dcdfe8;
}
.style-label--checkbox .style-input-element:hover {
  cursor: pointer;
}
.style-label--checkbox .style-input-element:hover {
  border: 2px solid #bfc0c9;
}
.style-label--checkbox.style-label--disable .style-input-element {
  background: #f1f2f6 !important;
}
.style-label--checkbox .icon {
  display: none;
}
.style-label--checkbox .style-input:checked ~ .style-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #5da600;
  border: 1px solid #5da600;
}
.style-label--checkbox .style-input:checked ~ .style-input-element .icon {
  display: block;
  fill: #fff;
  width: 24px;
  height: 24px;
}
.style-label--radio .style-input-element {
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  border: 2px solid #dcdfe8;
  border-radius: 50%;
  transition: all 0.4s;
}
.style-label--radio .style-input-element:hover {
  cursor: pointer;
}
.style-label--radio .style-input-element:hover {
  border: 2px solid #7eca1d;
}
.style-label--radio.style-label--disable .style-input-element {
  background: #f1f2f6 !important;
}
.style-label--radio .style-input:checked ~ .style-input-element {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #5da600;
  background: #5da600;
}
.style-label--radio .style-input:checked ~ .style-input-element .icon-radio {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: #fff;
}
.input-row {
  position: relative;
  margin-bottom: 20px;
}
.input-row .input {
  width: 100%;
}
.input-btn-cont {
  display: flex;
  align-items: flex-start;
}
.input-btn-cont .input-row {
  margin-right: 28px;
  min-width: 300px;
}
.input-row__title {
  margin-bottom: 10px;
}
.input-row--error .input {
  border-color: #d00025;
  color: #d00025;
}
.input-row--error .error-msg {
  display: block;
}
.input-row--error .error {
  color: #d00025;
}
.input-row--error .style-input-element {
  border: 1px solid #d00025;
}
.error-msg {
  color: #d00025;
  margin: 10px 0;
  display: none;
}
.input-cont {
  display: grid;
  grid-gap: 20px;
}
@media only screen and (max-width: 640px) {
  .input-cont {
    grid-row-gap: 0;
  }
}
.input-cont--two {
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .input-cont--two {
    grid-template-columns: 1fr;
  }
}
.input-cont--three {
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .input-cont--three {
    grid-template-columns: 1fr;
  }
}
.input-cont--four {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 640px) {
  .input-cont--four {
    grid-template-columns: 1fr 1fr;
  }
}
.login-remember {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .login-remember .style-label {
    align-items: flex-start;
  }
}
.login-remember .style-input-text {
  font-size: 14px;
  color: #111;
  width: calc(100% - 60px);
  line-height: 1.6;
  margin-top: 3px;
}
.login-remember .style-input-text a {
  color: #7eca1d;
}
.input-get {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
}
.input-get .input {
  border-radius: 5px 0 0 5px;
}
.input-get__btn {
  position: relative;
}
.input-get__btn .icon {
  position: absolute;
  width: 14px;
  height: 14px;
  fill: #fff;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
}
.input-get__btn .input-get__btn-el {
  height: 100%;
  background: #7eca1d;
  border-radius: 0 5px 5px 0;
  border: 0;
  width: 60px;
}
.input-get__btn .input-get__btn-el:hover {
  background: #70b41a;
}
.upload-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.upload {
  display: flex;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #dcdfe8;
  box-shadow: 0px 3px 14px #fff;
  transition: all 0.4s;
  margin-bottom: 10px;
}
.upload:hover {
  cursor: pointer;
}
.upload:hover {
  box-shadow: 0px 3px 8px #e3e3e3;
}
.upload__icon {
  padding: 10px;
  border-right: 1px solid #dcdfe8;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload__icon .icon {
  width: 25px;
  height: 25px;
  fill: #ff4136;
}
.upload__text {
  height: 50px;
  margin-left: -1px;
  padding: 15px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-img__el {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #dcdfe8;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.upload-img__el:hover {
  cursor: pointer;
}
.upload-img__el:hover:before {
  content: 'X';
  opacity: 1;
}
.upload-img__el:before {
  content: 'X';
  position: absolute;
  background: rgba(0,0,0,0.702);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all 0.4s;
}
.upload-btn {
  position: absolute;
  left: -9999px;
}
.incr {
  display: flex;
  position: relative;
}
.incr__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 50%;
}
.incr__nav .icon {
  width: 14px;
  height: 14px;
  fill: #adaeb9;
  transition: all 0.4s;
}
.incr__nav:hover {
  border: 1px solid #7eca1d;
}
.incr__nav:hover:hover {
  cursor: pointer;
}
.incr__nav:hover .icon {
  fill: #7eca1d;
}
.incr__nav:active {
  background-color: #629d17;
}
.incr__val {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  transition: all 0.4s;
  padding: 0 15px;
}
.incr__val span {
  outline: none;
  user-select: none;
}
.incr-btn .incr-btn-wrap {
  display: none;
}
.incr-btn--active .incr-btn__el {
  display: none;
}
.incr-btn--active .incr-btn-wrap {
  display: block;
}
.input-placeholder-val {
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.4s;
}
.input:focus+span,
.input[data-empty="false"] + span {
  top: 10px;
  font-size: 10px;
  color: #9699a8 !important;
}
.switch {
  position: relative;
  background: #565762;
  height: 34px;
  width: 62px;
  border-radius: 18px;
}
.switch:hover {
  cursor: pointer;
}
.switch:before {
  content: '';
  transition: all 0.4s;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 6px;
  top: 4.5px;
}
.switch.active {
  background: #5da600;
}
.switch.active:before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: calc(100% - 30px);
}
.dropdown {
  width: 100%;
  display: inline-block;
  transition: all 0.4s;
  position: relative;
  outline: none !important;
}
.dropdown-current {
  border-radius: 4px;
  transition: all 0.4s;
  background: #f1f2f6;
  border: 1px solid #dcdfe8;
  cursor: pointer;
  display: block;
  padding: 28px 46px 12px 20px;
  position: relative;
}
.dropdown-current:hover {
  border: 1px solid #bfc0c9;
}
.dropdown-current:hover .icon {
  fill: #111;
}
.dropdown-current .icon {
  position: absolute;
  top: calc(50% - 12px);
  right: 20px;
  width: 24px;
  height: 24px;
  transition: all 0.4s;
  fill: #c4c5cc;
}
.dropdown-title {
  position: absolute;
  top: 8px;
  left: 20px;
  color: #9699a8;
}
.dropdown.active .icon {
  transform: rotate(180deg);
}
.dropdown.active .dropdown-current {
  background: #fff;
}
.dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 12px 32px rgba(41,42,53,0.16);
  overflow: hidden;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}
.dropdown-menu__el {
  padding: 18px 20px;
  transition: all 0.4s;
}
.dropdown-menu__el:hover {
  cursor: pointer;
}
.dropdown-menu__el:last-child {
  border: 0;
}
.dropdown-menu__el:hover {
  background: #e6f2d6;
  color: #111;
}
/* block footer*/
/*block footer end */
.title {
  border-bottom: 1px solid #dcdfe8;
  padding-bottom: 30px;
}
.elements-hr {
  margin: 40px 0;
  display: block;
  height: 1px;
  border-bottom: 1px solid #d1d1d1;
}
.element-list-svg {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
}
.style-content {
  padding: 40px 10px;
}
.element-list-svg__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 20px 5px;
  border: 1px solid #dcdfe8;
  border-radius: 5px;
}
.element-list-svg__icon .icon {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.element-list-svg__name {
  text-align: center;
}
.color-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  margin: 40px 0;
}
.color-grid__el {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 30% 10%;
}
.color-grid__el-wrap {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 20px;
}
.color-grid__el-wrap--dark {
  color: #5c5e6e;
}
.color-grid__el-name {
  font-weight: 700;
}
.color-grid__el-var {
  margin-top: auto;
  margin-bottom: 10px;
}
.buttons-list {
  margin-bottom: 30px;
}
.buttons-list .btn--md {
  margin: 4px;
}
.buttons-list .btn--sm {
  margin: 8px;
}
.buttons-list .check-el {
  margin: 8px;
}
.buttons-list .switch {
  margin: 8px;
}
.note {
  background: #ffe5d4;
  padding: 2px 30px;
  border-radius: 30px;
  margin-bottom: 50px;
}
.note b {
  color: #111;
}
