@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"


.title
	border-bottom 1px solid $border-color
	padding-bottom: 30px
.elements-hr
	margin: 40px 0
	display: block
	height: 1px
	border-bottom: 1px solid #d1d1d1

.element-list-svg
	display: grid
	grid-gap 10px
	grid-template-columns: repeat(auto-fill, minmax(7rem,1fr))
.style-content
	padding: 40px 10px
.element-list-svg__icon
	flex(mid)
	fl()
	padding: 20px 5px
	border 1px solid $border-color
	br(5px)
	.icon
		size 40px
		margin-bottom: 5px
.element-list-svg__name
	text-align center

.color-grid
	display: grid
	grid-gap 20px
	//grid-template-columns: repeat(, fr)
	grid-template-columns: repeat(auto-fill, minmax(16rem,1fr))
	margin: 40px 0
.color-grid__el
	position relative
	br(10px)
	overflow hidden
	padding: 30% 10%

.color-grid__el-wrap
	color white
	position absolute
	width: 100%
	height: 100%
	left 0
	top 0
	f()
	fl()
	justify-content space-between
	padding: 20px

.color-grid__el-wrap--dark
	color $typePrimary

.color-grid__el-name
	font-weight: 700


.color-grid__el-var
	margin-top: auto
	margin-bottom: 10px

.buttons-list
	.btn--md
		margin: 4px
	.btn--md-figure
		margin: 4px
	.btn--sm-figure
		margin: 4px
	.btn--sm
		margin: 8px
	.check-el
		margin: 8px
	.switch
		margin: 8px
	margin-bottom: 30px
.buttons-list--center
	f()
	align-items center
	fw()
.note
	background: $orangeLight
	padding: 2px 30px
	br(30px)
	b
		color black
	margin-bottom: 50px