include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content
		.main-cont
			.title.title--xl О компании
			.g-row.mb-80
				.g-lg-7.g-md-12.g-xs-12
					.video
						iframe.video__el(width="100%" height="100%" src="https://www.youtube.com/embed/T5DzGrDp5Xw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

				.g-lg-5.g-md-12.g-xs-12.text
					p Компания BeFit занимается производством и доставкой здорового, сбалансированного питания, приготовленного на основе только натуральных и полезных продуктов.

					p Ежедневно мы помогаем сотням людей сэкономить время и силы на пути к здоровому образу жизни, систематичному питанию и отличному самочувствию, ведь мы производим и доставляем уже готовые рационы на целый день, полностью сбалансированные по количеству БЖУ и ккал.

					p Питаться с нами не только полезно, но и очень вкусно. В нашем арсенале более 800 различных блюд, одобренных диетологом и проработанных командой поваров, во главе с нашим шеф-поваром.

					p И мы постоянно добавляем новые!
			.advant.mb-100
				a(href="#").advant__el
					.advant__el-icon
						img(src="img/icon/meat.svg", alt="")
					.advant__el-text Мы используем куриное филе, индейку, говядину, телятину, утку, треску, лосось, тиляпию и т.д.
				a(href="#").advant__el
					.advant__el-icon
						img(src="img/icon/flour.svg", alt="")
					.advant__el-text Добавляем только цельнозерновую муку или муку грубого помола, выпекаем из овсяной и рисовой муки.
				a(href="#").advant__el
					.advant__el-icon
						img(src="img/icon/sweetener.svg", alt="")
					.advant__el-text Используем натуральный сахарозаменитель стевию и Fit Parad.
				a(href="#").advant__el
					.advant__el-icon
						img(src="img/icon/milk.svg", alt="")
					.advant__el-text Молочные продукты - творог, молоко, сметану и тд, мы получаем напрямую от фермерских хозяйств.

			.g-row.mb-80
				.g-md-6.g-xs-12.text
					p Все продукты проходят тщательный отбор и строгий контроль качества. Мы закупаем продукцию только у проверенных поставщиков, подтвержденную сертификатом качества.

					p Процесс приготовления рационов происходит непосредственно перед доставкой, поэтому мы не используем консервантов или другой химии, которая позволяет готовой еде храниться длительный срок.
				.g-md-6.g-xs-12.text
					p Мы используем технологию Smart Frost, т.е. делаем заготовки овощей и мяса, готовим салаты и молочные блюда в охлажденном до 8 градусов помещении, где поддерживается постоянная температура. Эта технология позволяет сохранить максимум полезности и витаминов.

					p После приготовления, блюда охлаждаются, упаковываются в герметичные контейнеры и сразу же поступают в отдел логистики, где курьеры получают готовые оптимизированные маршруты. Это позволяет нам соблюдать заявленный интервал доставки в 1 час в 95% доставок. Мы стараемся улучшить эту цифру!

			.g-row.mb-80
				.g-lg-7.g-md-12.g-xs-12
					.video
						iframe.video__el(width="100%" height="100%" src="https://www.youtube.com/embed/T5DzGrDp5Xw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)

				.g-lg-5.g-md-12.g-xs-12
					.box-gradient
						.box-gradient-inner.text
							p Каждый день, мы проводим непрерывную работу по улучшению сервиса, добавляем новые возможности для клиентов, улучшаем процесс доставки и удобство получения заказа.

							p Спасибо за то, что доверяете нам заботу о своем питании!

			.text
				h2 История создания
				.g-row.mb-80
					.g-md-6.g-xs-12
						p.type--md
							strong Как нам удалось создать сервис, где работает более двухсот сотрудников и с каждым годом мы только набираем обороты?
						p.type--md
							strong Как пришла идея сервиса питания, который радует более тысячи людей ежедневно вкусными и правильными рационами с огромным разнообразием блюд?
						p.type--md
							strong Мы решили рассказать Вам немного о том, как нам пришла идея создания сервиса правильного питания «BeFit».
					.g-md-6.g-xs-12
						p Шёл 2016 год и мы были так загружены интереснейшими проектами, что совсем не оставалось времени на то, чтобы готовить еду самостоятельно. Регулярность нашего питания страдала и мы начали пробовать различные доставки питания в офис и домой. Пицца, пироги, котлеты, салаты - это стало системой питания, но мы никак не могли найти то, что будет нам по душе, что будет вкусно и при этом полезно для организма.

						p И тут нам пришла в голову гениальная идея 💡 - сервис питания, который предоставлял бы сбалансированную еду на целый день, вкусную, разнообразную и подходящую любому человеку - «Эврика» - подумали мы и начали продумывать план действий.

						p Благодаря большому опыту в ресторанной индустрии, нам удалось создать по - настоящему уникальный сервис питания «BeFit», который помогает тысячам людей ежедневно наслаждаться вкусным и правильным питанием без лишних забот, при этом экономя своё время для того, что действительно важно.
			.g-row.mb-80
				.g-md-5.g-xs-12
					img(src="img/аnastasia.jpg", alt="")
				.g-md-6.g-offset-md-1.g-xs-12.text
					h3 Анастасия Грашкина
					p Добрый день, дорогие читатели.

					p Меня зовут Грашкина Анастасия и я являюсь одним из основателей сервиса правильного питания «BeFit». Я очень рада принимать участие в этом проекте и помогать большому количеству людей добиваться поставленных целей. Я занимаю пост директора по продукту, а это значит, что именно я отвечаю за то, какими будут рационы питания сервиса «BeFit» и какие именно блюда попадут к Вам на стол. Мы с моей командой диетологов и профессиональных фитнес-тренеров тщательно отбираем только натуральные продукты и прорабатываем каждое блюда так, чтобы оно было не только вкусным, но и максимально полезным для Вас.

					p Также я являюсь профессионалом в области маркетингового управления социальными сетями, мы стараемся создавать для Вас запоминающийся и полезный контент, вовлекая в движение правильного и осознанного питания как можно больше людей.

					p Улыбайтесь и будьте здоровы! А в вопросах питания мы с удовольствием станем Вашим надежным партнером.
					a(href="#").btn--md.btn--light.btn--mobile Написать письмо
			.g-row
				.g-md-5.g-xs-12
					img(src="img/michael.jpg", alt="")
				.g-md-6.g-offset-md-1.g-xs-12.text
					h3 Михаил Немцан
					p Добрый день, дорогие друзья.

					p Меня зовут Немцан Михаил и я являюсь сооснователем сервиса правильного питания «BeFit». Уже на протяжении 3-х лет мы рады создавать для Вас вкусные и полезные рационы питания, которые помогают Вам достигать результатов и наслаждаться жизнью каждый день.

					p В этом проекте я занимаю пост генерального директора по маркетингу и рекламе, а также отвечаю за IT сопровождение. Кроме того, я создаю координацию между колл-центром, принимающим Ваши ежедневные заказы, производством и целой службой логистики, чтобы Вы смогли всегда получать заказы в нужное время и в нужном месте.

					p Мы гордимся тем, что каждый день Вы выбираете именно нас и стараемся сделать максимум для того, чтобы удовлетворять Ваши самые изысканные желания.
					p Надеюсь на приятное и долговременное сотрудничество!
					a(href="#").btn--md.btn--light.btn--mobile Написать письмо
	+footer()
include ./block_html/_script.pug
