include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content.content--clear
		.section.section-full.section--gradient.mb-32
			.main-cont-sm
				h1.type--head.type--xl Как удержать вес после похудения: основные ошибки, советы для сохранения веса
				// color for tags name
				// Похудение .type-sea
				// ЗОЖ .type-blue
				// Набор массы .type-pink
				// Фитнес .type-violet
				// Питание .type-orange
				// Рецепты .type-swamp
				// Befit .type-green
				// color for tags name === end
		.main-cont-sm
			.blog-head
				.blog-head__type
					span.type-sea Похудение
					span.type-orange Питание
				.blog-head__date 23 апр, 2019
			.blog-cont.text
				p Возврат потерянных килограмм после похудения, как правило, обусловлен тем, что человек изначально неправильно подошёл к методике избавления от лишнего веса. Но даже если вы следовали указаниям диетолога и ответственно занимались в тренажерном зале, велик риск того, что после достижения нужного показателя на весах, вы вновь начнёте поправляться.

				p Возврат потерянных килограмм после похудения, как правило, обусловлен тем, что человек изначально неправильно подошёл к методике избавления от лишнего веса. Но даже если вы следовали указаниям диетолога и ответственно занимались в тренажерном зале, велик риск того, что после достижения нужного показателя на весах, вы вновь начнёте поправляться.

				h3 Основные ошибки после снижения веса

				p Очень часто, достигая желаемого результата, мужчины и женщины перестают контролировать свой рацион. Отсутствие подсчета калорий, а также бесконтрольное употребление вредной пищи приведет к прибавке лишних килограмм, даже если человек этим ранее не страдал. Поэтому помните, что любому здоровому организму нужно сократить количество:

				ul
					li
						strong Мучных и кондитерских изделий
					li
						strong Сладостей
					li
						strong Колбасы и сосисок
					li
						strong Консервированных продуктов
					li
						strong Фастфуда
					li
						strong Жареной еды

				img(src="img/blog-item-1.jpg", alt="")

				h3 Какой рацион питания нужен после похудения

				p После тяжелой борьбы с лишними килограммами очень страшно вернуться к исходному состоянию. Но многие обладатели желаемой фигуры быстро перестают контролировать себя. Из-за этого удержать вес не удается, и килограммы возвращаются ещё в большем количестве

				p Правильное питание – это постоянный баланс. Для нормального функционирования организма нужны все элементы: и жиры, и белки, и углеводы. Но, чтобы не набрать лишние килограммы, выбирайте их более полезные виды. Отдавайте предпочтение не простым макаронам, а пасте из твердых сортов, не быстрорастворимым кашам, а натуральной овсянке, не белому хлебу, а хрустящим хлебцам из натуральных злаков.
				p То же самое касается жиров. Выбирайте не свиные ребра, а скумбрию или горбушу. В такой рыбе содержатся омега-3 кислоты, которые крайне полезны для здоровья. Если вы придерживались правильного питания, а не просто сидели на однообразных диетах, то полезные привычки у вас уже успеют выработаться. И не стоит от них отказываться
			.offer.bg-sea.m-80
				.offer-title Рекомендуем программу для похудения: Light
				a(href="#").btn--md.btn--white
					.btn-icon-row.btn-icon-row--right
						span Подробнее
						+icon("arrow-right","icon")
				.offer-img(style="background-image:url('img/slide-person-1.png')")
			.share.mb-100
				.share__title Поделитесь с друзьями
				.soc-row.soc-row--mid.soc-row--lg
					a(href="#").soc-row__el.soc-row__el--vk
						+icon("soc-vk","icon")
					a(href="#").soc-row__el.soc-row__el--fb
						+icon("soc-fb","icon")
					a(href="#").soc-row__el.soc-row__el--twitter
						+icon("soc-twitter","icon")
		.section-full.section--gradient
			.main-cont
				.title.title--lgx Интересное по теме
				.mobile-row-scroll
					.blog-list.mobile-row-scroll-wrap
						- for (var i=1;i<5;i++)
							.blog-el.mobile-row-scroll-item(class = item )
								.blog-el__img(style="background-image:url('img/blog-" + i + ".jpg')")
								.blog-el-content
									.blog-el__info
										a(href="#").blog-el__title Как пользоваться конструктором от «BeFit» и в чем его преимущества?
									.blog-el-footer
										.blog-el-tag
											span.type-pink Набор массы
											span.type-sea Похудение
											span.type-blue ЗОЖ
										.blog-el-date 20 апр, 2019
	+footer()
include ./block_html/_script.pug
