include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content.content--clear-bottom
		.main-cont
			.title.title--xl Контакты
			.g-center.mb-100
				.g-lg-7.g-xs-12
					.map-wrap.map-wrap--md
						.map
				.g-lg-4.g-offset-lg-1.g-xs-12
					.contact-info
						.icon-row
							+icon("phone","icon icon--right icon--mark")
							span.type--md +7 499 110 12 15
						.icon-row
							+icon("soc-wp-light","icon icon--right icon--mark")
							span.type--md Whatsapp +7 925 907 35 12
						.icon-row
							+icon("navigation","icon icon--right icon--mark")
							span.type--md г. Москва, ул. Кировоградская, д. 23А
						.icon-row
							+icon("time","icon icon--right icon--mark")
							span.type--md Ежедневно с 09 до 21
						.soc-row.soc-row--lg
							a(href="#").soc-row__el.soc-row__el--vk
								+icon("soc-vk","icon")
							a(href="#").soc-row__el.soc-row__el--fb
								+icon("soc-fb","icon")
							a(href="#").soc-row__el.soc-row__el--instagram
								+icon("soc-inst","icon")
		.section-full.section--gradient
			.main-cont-sm
				.contract
					.contract-content
						.title.title--lgx Задайте свой вопрос
						.input-cont.input-cont--two
							.input-row.input-row--validate
								input(type="text" data-placeholder="Ваше имя" class="input")
								.input-msg Ошибка
								+icon("close","icon icon-validate-false")
								+icon("checked","icon icon-validate-true")
							.input-row.input-row--validate
								input(type="text" data-placeholder="Почта или Телефон"  class="input")
								.input-msg Ошибка
								+icon("close","icon icon-validate-false")
								+icon("checked","icon icon-validate-true")
						.input-row.input-row--validate.input-row--error
							textarea(name="text", rows="5" class="input" data-placeholder="Ваш вопрос*")
							.input-msg Ошибка
							+icon("close","icon icon-validate-false")
							+icon("checked","icon icon-validate-true")
						.contract-footer.contract-footer--clear
							.contract-footer__text Нажимая кнопку “Оформить” я принимаю условия условия <a href="#" class="link--mark">передачи информации</a>
							.btn--md.btn--mark.btn--mobile Отправить

	+footer()
include ./block_html/_script.pug
