include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content
		.main-cont
			.title.title--xl Доставка
			.g-row
				.g-lg-4.g-md-5.g-xs-12.text
					p Мы создали наш сервис, не только, чтобы кормить Вас вкусной и полезной едой, но и для того, чтобы экономить Ваше время.
					p Поэтому к процессу доставки отнеслись со всей серьезностью.
					p У нас своя курьерская служба, именно поэтому, мы можем предложить Вам гибкие условия доставки.
					p Мы осуществляем доставку регулярно: ежедневно или раз в два дня. Каждое утро или вечер - выбор за Вами.
					ul
						li В будние дни - с интервалом в 1 час, начиная с 7ми утра.
						li Если Вам удобно получать доставку днем - мы с удовольствием предложим Вам и такой вариант.
						li Вечерняя доставка осуществляется с 2-х часовым интервалом.
						li Доставка за МКАД оплачивается отдельно и составляет 250 руб за каждую доставку. Диапазон доставки составляет 2 часа. Утренний диапазон начинается с 8:00
				.g-lg-7.g-offset-lg-1.g-md-7.g-xs-12
					.map-wrap.map-wrap--md.mb-24
						.map
					.deliver-pick.mb-48
						.deliver-pick__el
							.deliver-pick__el-color(style="background:#7eca1d")
							.deliver-pick__el-text Доставляем бесплатно
						.deliver-pick__el
							.deliver-pick__el-color(style="background:#6b33b3")
							.deliver-pick__el-text Доставка стоит 250 р.
					.box-gradient
						.box-gradient-inner.box-gradient-inner--sm.text
							p Изменились планы? Сообщите нам об этом и мы скорректируем нашу доставку! Любые изменения в адресе или времени доставки мы принимаем накануне до 16:00.
+footer()
include ./block_html/_script.pug
