include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.board__el.bg-pink
		.main-cont
			.board__el-wrap.board__el-wrap--sm
				.board__content
					.board__title Похудей за 21 день!
					.board__title-sub.hidden-on-mobile Сбалансированная диета "под ключ" снижение веса за 21 день до 7,5 кг
					a(href="#").btn--md.btn--white.hidden-on-mobile
						.btn-icon-row.btn-icon-row--right
							span Заказать
							+icon("arrow-right","icon")
					a(href="#").icon-row.visible-on-mobile
						.type--md.type--white Войти в кабинет
						+icon("arrow-right","icon icon--left icon--white")
				.board__img(style="background-image:url('img/slide-person-5.png')")
	.content.content--clear-bottom
		// step work
		.main-cont
			.section
				.title.title--lgx Как это работает
				.work-step
					.work-step__el
						.work-step__el-icon
							img(src="img/icon/step-phone.svg", alt="")
						.work-step__el-title Оставляешь заявку
						.work-step__el-text После оставления заявки ниже наш менеджер свяжется с тобой и обсудит все детали.
					.work-step__el
						.work-step__el-icon
							img(src="img/icon/step-ticket.svg", alt="")
						.work-step__el-title Приглашаешь по своему промокоду рефералов
						.work-step__el-text Приглашаешь по своему промокоду рефералов
					.work-step__el
						.work-step__el-icon
							img(src="img/icon/step-money.svg", alt="")
						.work-step__el-title Приглашаешь по своему промокоду рефералов
						.work-step__el-text Поздравляем, ты великолепен! Больше клиентов — больше заработок.
		// step work === end

		// program constructor
		.program-main-wrap#program
			// choose program
			.program-group-wrap
				.main-cont
					.program-group.js-tab-cont.js-tick-cont.active(data-programType="weightLoss")
						.program-group__el.js-tick.active
							.program-group__el-wrap
							.program-group__el-name Fish
							.program-group__el-val 900 Ккал
								span 1 неделя
						.program-group__el.js-tick
							.program-group__el-name Vegan
							.program-group__el-val 1200 Ккал
								span 2 и 3 неделя
						.program-group__el.js-tick
							.program-group__el-name Vegan
							.program-group__el-val 1200 Ккал
								span 2 и 3 неделя
				// choose program === end

			// program list
			.main-cont
				.program-list-wrap
					.program-list-header
						// program days
						.program-days.js-tick-cont
							-
								var items = [	'Пн','Вт','Ср','Чт','Пт','Сб'];
							each item,i in items
								.program-days__el.js-tick(class=i===0 ? 'active' : '') #{item}
						// program days === end
						// program consist
						.program-consist
							.program-consist__el
								.program-consist__el-val 2312
								.program-consist__el-type Ккал
							.program-consist__el
								.program-consist__el-val 456
								.program-consist__el-type Белки
							.program-consist__el
								.program-consist__el-val 326,9
								.program-consist__el-type Жиры
							.program-consist__el
								.program-consist__el-val 458
								.program-consist__el-type Углеводы
						// program consist === end
					.program-list-container
						.program-list
							- for (var i=1;i<8;i++)
								// program item
								.program-el
									.program-el__img(style="background-image:url('img/item-sm-"+i+".jpg')")
									.program-el-wrap
										.program-el__content
											.program-el__head
												.program-el__type Первый завтрак
												.program-el__val 106 Ккал. 300 г.
											.program-el__title Смузи боул с яблоком, корицей и гранола
											.program-el__text Филе куриное, лук, яйцо, специи, гречка зеленая, соус сливочный, грецкие орехи, сливочно-ореховый соус
										.program-el__footer
											.icon-row.modal-get(data-modal="removeProgram")
												+icon("reload","icon icon--right")
												span Заменить блюдо
								// program item === end
							// program-banner
							.program-banner
								.program-banner-inner
									img(src="img/smile/smile-star.png", alt="").program-banner__img
									.program-banner__cost 180
									.program-banner__text руб/день
									a(href="#order").btn--md.btn--mark.js-scroll-to Заказать
									a(href="#").icon-row
										span.type--md.type--mark.type--bold Подробнее
										+icon("arrow-right","icon icon--left icon--mark")
						// program-banner === end
			// program list === end

		// program constructor === end

		+review()
	+footer()
include ./block_html/_script.pug
