include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content
		.main-cont-sm
			.scene
				canvas#canvas()





		script(type='text/javascript').
			window.onload = function () {
				var random = function (min, max) {
					var rand = Math.floor(min + Math.random() * (max + 1 - min));

					return rand;
				}

				var scene = $('.scene')
				var sceneW = scene.width()
				var sceneH = scene.height()
				var canvas = document.getElementById('canvas')

				canvas.width = sceneW
				canvas.height = sceneH

				var ctx = canvas.getContext('2d');

				ctx.fillStyle = "white"
				ctx.font = "32px Verdana"

				var isGame = true;
				var needScore = 15;

				var posX=0;
				var randomPosX = function () {
					var posXCurrent = posX;
					posX = random(30, canvas.width - 30)
					console.log('posXCurrent',posXCurrent);
					console.log('posX',posX);
					if(posX<posXCurrent + 100 && posX > posXCurrent - 100){
						console.log(false);
						randomPosX()
					}else{
						console.log(true);
						return posX
					}
				};
				var posY = 20;
				var speedY = 4;
				var basketHeight = 60;
				var basketWidth = 120;
				var recStart = canvas.width / 2 - 35;
				var score = 0;
				var mouseX = 0;

				var msgX = sceneW/2 - 130
				var msgY = sceneH/2 - 160 - 600

				randomPosX()
				var foodPosition = function () {
					//ctx.clearRect(0, 0, canvas.width, canvas.height);
					if (isGame) {
						if (posY > canvas.height - 160) {
							posY = 0;
							randomPosX();
							foodRandom();
						}
						posY += speedY + speedY*score*.2;
						ctx.drawImage(foodCurrent, posX, posY, 80, 80);
					}
				}

				//IMAGES
				var basket = new Image();
				var food = new Image();
				var bg = new Image();
				var msg = new Image();
				var scoreImg = new Image();

				var foodList = ['/img/game/food-1.png', '/img/game/food-2.png', '/img/game/food-3.png', '/img/game/food-4.png']
				var foodListImg = []
				var foodCurrent;
				foodList.forEach(function (el) {
					var item = new Image()
					item.src = el
					foodListImg.push(item)
				})
				var foodRandom = function () {
					foodCurrent = foodListImg[random(0, foodListImg.length - 1)]
					return foodCurrent
				}
				foodRandom()

				basket.src = '/img/game/basket.png';
				food.src = '/img/game/food-1.png';
				bg.src = '/img/game/bg.jpg';
				msg.src = '/img/game/giftbox.png'
				scoreImg.src = '/img/game/score.png'

				//IMAGES === end


				canvas.addEventListener("mousemove", function (e) {
					var cRect = canvas.getBoundingClientRect();
					mouseX = Math.round(e.clientX - cRect.left);
					if (mouseX > canvas.width - basketWidth) {
						recStart = canvas.width - basketWidth;
					}
					recStart = mouseX - basketWidth / 2;
				});

				var catchFood = function () {
					if (mouseX > posX - 45 && mouseX < posX + 45 && posY > sceneH - 175) {
						++score;
						posY = 0;
						randomPosX();
						foodRandom();
					}
					if (score === needScore) {
						msgY < sceneH/2 - 160 ? msgY += 15 : ''
						isGame = false;
					}
				}

				function draw() {
					ctx.drawImage(bg, 0, 0, sceneW, sceneH);
					ctx.drawImage(scoreImg, 20, 20, 80, 50);
					foodPosition();
					catchFood();
					ctx.fillText(score, 110, 57);
					ctx.drawImage(basket, recStart, sceneH - 150, basketWidth, basketHeight);
					ctx.drawImage(msg, msgX, msgY, 280, 280);
					requestAnimationFrame(draw)
				};
				msg.onload = draw()
			}
	+footer()
include ./block_html/_script.pug
