include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content.content--clear-top
		.lk
			.lk-head-wrap
				.main-cont
					.lk-head-cont
						.lk-head
							.type--head.type--lgx.mb-64 Настройки
						.lk-tool
							+lk-nav()
			.main-cont
				.lk-wrap
					.lk-cont
						.g-row
							.g-lg-6.g-xs-12
								.type--head.type--mdx.mb-32 Личные данные
								.input-row.input-row--validate
									input(type="text" data-placeholder="Ваше имя" class="input")
									.input-msg Ошибка
									+icon("close","icon icon-validate-false")
									+icon("checked","icon icon-validate-true")
								.input-row.input-row--validate
									input(type="text" data-placeholder="Телефон" data-mask="8(000)000-00-00" class="input")
									.input-msg Ошибка
									+icon("close","icon icon-validate-false")
									+icon("checked","icon icon-validate-true")
								.input-row.input-row--validate
									input(type="text" data-placeholder="Email"  class="input")
									.input-msg Ошибка
									+icon("close","icon icon-validate-false")
									+icon("checked","icon icon-validate-true")
								.input-cont.input-cont--three
									.input-row
										input(type="text" data-placeholder="День" class="input")
									.input-row
										input(type="text" data-placeholder="Месяц" class="input")
									.input-row
										input(type="text" data-placeholder="Год" class="input")
							.g-lg-5.g-offset-lg-1.g-xs-12
								.type--head.type--mdx.mb-32 Сохраненные карты
								.card-list
									.card-el
										.card-type
											img(src="img/pay-visa.png", alt="")
										.card-val MasterCard **5555
										.card-remove
											+icon("delete","icon")
									.card-el
										.card-type
											img(src="img/pay-mastercard.png", alt="")
										.card-val MasterCard **5555
										.card-remove
											+icon("delete","icon")
								.btn--md.btn--full.btn--light
									.btn-icon-row.btn-icon-row--right
										span Добавить карту
										+icon("plus-round","icon")
	+footer()
include ./block_html/_script.pug
