include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.grid
				.row.text
					.col.col--lg-2
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam doloribus esse est in itaque libero minima, qui ratione tempora temporibus.
					.col.col--lg-6
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam architecto autem commodi cumque dolorem, eius error esse et eveniet ex excepturi fuga, id impedit libero modi nam nesciunt nisi nulla quae quaerat quia repudiandae temporibus unde voluptates. Eius, fugit.
					.col.col--lg-6
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam architecto autem commodi cumque dolorem, eius error esse et eveniet ex excepturi fuga, id impedit libero modi nam nesciunt nisi nulla quae quaerat quia repudiandae temporibus unde voluptates. Eius, fugit.
	+footer()
include ./block_html/_script.pug
