include block_html/_style.pug
include block_html/_include.pug

style(type='text/css').
	.btn-wrap {
		display: flex;
		flex-wrap: wrap;
		flex-flow: column;
		align-items: baseline;
	}
	.btn-wrap .btn--md {
		display: inline-block;
		margin-bottom: 20px;
	}

	@media only screen and (max-width: 640px) {
		.btn-wrap .btn--md{
			width: 100%;
		}
	}

.page
	+header()
	.content
		.main-cont
			p Чтобы вызвать нужное окно добавь на элемент класс .modal-get и data-modal="имя окна"
			p Чтобы добавить метод закрытия окна по клику на элемент добавиь класс .modal-send
			.btn-wrap
				.btn--md.btn--mark.modal-get(data-modal="cleverDeliver") Сообщение о доставке | data-modal="cleverDeliver"
				.btn--md.btn--mark.modal-get(data-modal="getCall") Заказать звонок | data-modal="getCall"
				.btn--md.btn--mark.modal-get(data-modal="callBack") Заказать звонок мобильная версия| data-modal="callBack"
				.btn--md.btn--mark.modal-get(data-modal="getMsg") Написать сообщение | data-modal="getMsg"
				.btn--md.btn--mark.modal-get(data-modal="enter") Вход в личный кабинет | data-modal="enter"
				.btn--md.btn--mark.modal-get(data-modal="getName") Давайте знакомится | data-modal="getName"
				.btn--md.btn--mark.modal-get(data-modal="trueReview") Отзыв принят | data-modal="trueReview"
				.btn--md.btn--mark.modal-get(data-modal="location") Выбор города | data-modal="locationMobile"
				.btn--md.btn--mark.modal-get(data-modal="locationMobile") Выбор города мобильная версия | data-modal="locationMobile"
				.btn--md.btn--mark.modal-get(data-modal="removeProgram") Исключить из рациона | data-modal="removeProgram"

+footer()

include ./block_html/_script.pug
