include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content
		.main-cont.text
			h1 Публичная оферта
			h3.type--secondary Договор публичной оферты о продаже<br> товаров Интернет-магазина «BeFit»
			p Пожалуйста, прочитайте текст данной Публичной оферты внимательно, если Вы не согласны с его условиями полностью или частично – не используйте Сайт и откажитесь от покупки Товаров или использования услуг, предоставляемых Продавцом.

			h4 Термины и определения

			p Акцепт – полное и безоговорочное принятие Покупателем условий договора розничной купли-продажи, изложенных в Публичной оферте относительно Товаров, осуществляемое путем оформления заказа и его оплаты (в случаях осуществления оплаты с использованием электронных средств платежа).

			p Аутентификационные данные Покупателя – имя доступа, которым является указанный при регистрации Покупателем номер мобильного телефона и пароль (код доступа в Личный кабинет), который направляется Покупателю SMS - сообщением на указанный им в качестве имени доступа номер мобильного телефона.

			p Доставка – курьерские услуги по доставке заказов Покупателям, оказываемых Продавцом или третьим лицом, имеющим с Продавцом договор.

			p Заказ – заявка на приобретение Товаров, входящих в избранную Покупателем Программу питания, в соответствии с курсом определенной продолжительности или на один пробный день, оформленная Покупателем.

			p Личный кабинет – персональный и не доступный третьим лицам раздел Сайта, доступ к которому осуществляется после регистрации путем ввода Аутентификационных данных Покупателя.

			p В Личном кабинете отражаются сведения о Покупателе, о его заказах и количестве полученных бонусов.

			p Оператор – контакт центр Продавца, осуществляющий прием заказов по телефону +7 (499) 110-12-15, а также предоставляющий информацию и консультации по заказам и Товарам.

			p Покупатель – любое дееспособное физическое лицо, заключившее Договор с Продавцом в электронной форме в результате оформления заказа и, тем самым, получившее право получать Товары.

			p Продавец – индивидуальный предприниматель Грашкина Анастасия Игоревна, зарегистрированная Межрайонной инспекцией Федеральной налоговой службы № 10 по Тульской области ИНН 710304066217, ОГРНИП 316715400121089 (далее – ИП Грашкина А.И.).

			p Программа питания – программа ежедневного питания, сбалансированного по белкам, жирам, углеводам и калориям, предлагаемая к продаже по различным тарифам, в зависимости от выбранного курса и его продолжительности.

			p Информация о возможных Программах питания, а также о меню на неделю в соответствии с Программой питания расположена на Сайте.

			p Публичная оферта (Договор) – настоящий документ, опубликованный в сети Интернет, а также направляемый в целях ознакомления посредством электронной почты либо предоставляемый в целях ознакомления любыми другими способами, представляющий собой официальное предложение Продавца, адресованное любому дееспособному физическому лицу (гражданину), заключить с ним договор розничной купли-продажи на условиях, содержащихся в Публичной оферте.

			p Регистрация – процедура, в ходе которой Покупатель получает доступ к персонализированным разделам Сайта.

			p Сайт/Интернет-магазин – принадлежащий Продавцу интернет-ресурс под доменным именем https://letbefit.ru , представляющий собою совокупность компьютерных программ, обеспечивающих публикацию данных о Товарах и услугах, предлагаемых Продавцом своим Покупателям для оформления заказов, а также условия оплаты и доставки этих заказов Покупателям.






	+footer()
include ./block_html/_script.pug
