include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content.content--clear-bottom
		.section
			.main-cont
				.review-intro
					.review--intro__info
						.type--xl.type--head.mb-16 Отзывы клиентов
						.review--intro__text Отзывы реальных клиентов о доставке правильного питания на неделю, вкусе самой еды, ее качестве и сервисе компании BeFit. Узнай почему у нас так вкусно!
					.review-get
						a(href="#review").js-scroll-to.btn--md.btn--mark Оставить отзыв
		.section-extend.section--gradient
			.main-cont.js-slider-wrap
				.review-head
					.review-head__info
						.type--head.type--lgx.mb-16 Отзывы о доставке правильного питания из Instagram
						.review-head__text Чтобы Ваш отзыв попал на эту страницу ставь хеш-тег #befitrus под своим впечатлением!
					.review-control.slider-control-row
						.slider-control.js-control-left
							+icon("arrow-left","icon")
						.slider-control.js-control-right
							+icon("arrow-right","icon")
				.review
					.slider-wrap
						.slider-review.slider-extend.js-slider
							- for (var j=1;j<5;j++)
								- for (var i=1;i<5;i++)
									.slider-el-wrap
										.slider-review__el
											.slider-review-head
												.slider-review-head__user(style="background-image:url('img/user.jpg')")
												.slider-review-head__info
													.type--head mike_beyond_the_sea
													.type--sm Moskow
											.slider-review-img(style="background-image:url('img/inst-img-" + i + ".jpg')")
											.slider-review-wrap
												.slider-review-content.scroll-template-light
													.slider-review-text Мы то - что мы едим.Пожалуй, лучшее мое решение за последнее время - это отказ от вредной пищи, сладкого, мучного и бокальчика вина за ужином. (да, черт подери, сама не верю в это, но Алкоголь тоже попал под санкционку в моей жизни)И знаете, это было решение за последнее время  - это отказ от мучного и бокальчика вина за ужином. (да, черт подери, сама не верю в это, но Алкоголь тоже попал под санкционку в моей жизни)И знаете, это было решение за последнее время  - это отказ от
		.section
			.main-cont-xs
				.type--lgx.type--head.mb-64 Отзывы с сайта
				- for (var i=1;i<5;i++)
					.review-item
						.review-item__name Мария Петровна
						.review-item-gallery
							a(href="img/blog-1.jpg" style="background-image:url('img/blog-1.jpg')" data-fancybox="gallery-"+i).review-item-gallary__img.fancybox
							a(href="img/blog-2.jpg" style="background-image:url('img/blog-2.jpg')" data-fancybox="gallery-"+i).review-item-gallary__img.fancybox
							a(href="img/blog-3.jpg" style="background-image:url('img/blog-3.jpg')" data-fancybox="gallery-"+i).review-item-gallary__img.fancybox
							a(href="img/blog-1.jpg" style="background-image:url('img/blog-1.jpg')" data-fancybox="gallery-" + i).review-item-gallary__img.fancybox
							a(href="img/blog-2.jpg" style="background-image:url('img/blog-2.jpg')" data-fancybox="gallery-" + i).review-item-gallary__img.fancybox
							a(href="img/blog-3.jpg" style="background-image:url('img/blog-3.jpg')" data-fancybox="gallery-" + i).review-item-gallary__img.fancybox
						.review-item__info Пробовала несколько разных сервисов, но LetBeFit – лучшие. Все привозят пунктуально, упаковано аккуратно, видно, что еда свежая. И приготовлено все качественно, как в ресторане, никаких запахов «а-ля столовка». Луковый крем-суп с гренками – вообще мой фаворит.))) И никаких проблем с пищеварением, живот сразу же перестал вздуваться, как обычно было после еды. Ушла тяжесть и прочие неприятные ощущения. Я довольна на 100%!
						.review-item__footer
							.review-item__date 2 ноя, 2020
							.review-item__type Правильное питание “Normal”

		.section-full.section--gradient#review
			.main-cont-sm
				.contract
					.contract-content
						.title.title--lgx Оставить отзыв
						.cell-row
							.cell-col
								.input-row.input-row--validate
									input(type="text" data-placeholder="Ваше имя" class="input")
									.input-msg Ошибка
									+icon("close","icon icon-validate-false")
									+icon("checked","icon icon-validate-true")
								.input-row.input-row--validate
									input(type="text" data-placeholder="Телефон" class="input input-mask--phone")
									.input-msg Ошибка
									+icon("close","icon icon-validate-false")
									+icon("checked","icon icon-validate-true")
								.input-row
									.dropdown
										input(type="hidden" name="name" value="0")
										.dropdown-current
											.dropdown-title Выберите вашу программу питания
											.dropdown-current__val Правильное питание “Normal”
											+icon("arrow-down","icon")
										.dropdown-menu
											.dropdown-menu__el(data-value="1") Правильное питание “Normal”
											.dropdown-menu__el(data-value="2") Правильное питание “Light”
											.dropdown-menu__el(data-value="3") Правильное питание “Strong”
							.cell-col
								.input-row.input-row--full
									textarea(name="text", rows="8" class="input" data-placeholder="Ваш отзыв")
						.cell-row
							.cell-col
								.validate-msg--error.msg.bg-stateErrorBG.type-stateError.js-upload-msg.mb-24 Файл не может быть больше, чем 5 мб
								.upload-wrap
									.upload-list
									label.upload
										.btn--sm-figure.btn--mark
											+icon("plus","icon")
										.upload__text Прикрепить файл
										input(type="file" data-group="true").upload-btn

					.contract-footer
						.contract-footer__text Нажимая кнопку “Оформить” я принимаю условия условия <a href="#" class="link--mark">передачи информации</a>
						.btn--md.btn--mark.btn--mobile Оставить отзыв
	+footer()
include ./block_html/_script.pug
