include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content.content--clear
		.offer-full-page(style="background-image:url('img/sale-banner-1.jpg')")
		.sale-descr.text
			h1 Копи баллы - питайся бесплатно! Бонусная программа для наших клиентов
			h3 Отзывы
			p Вы оставляете отзыв с фотографией Вашей еды/пакета в любой из соцсетей: <a href="#">instagram</a> <a href="#">vk.com</a> <a href="#">facebook</a>
			p Ссылку на отзыв присылаете в наш whatsapp - мы обрабатываем и присваиваем Вам 500 баллов за каждый уникальный отзыв!
			p 1 балл = 1 рублю
			p Отзыв можно публиковать не более 1 раза в неделю. Бонусы начисляются при наличие активного заказа.
			h3 Рекомендации друзьям
			p Вы рекомендуете наш сервис Вашим друзьям и знакомым.<br> Ваш знакомый, делая заказ, называет Ваш контактный телефон или e-mail адрес.<br> Вы и Ваш друг получаете по 500 бонусных баллов на свой счет!
			h3 И сразу ответим на уже появившиеся у Вас вопросы:
			.accordion.active.js-accordion.mb-100
				.accordion__el.js-accordion-el
					.accordion__el-head.js-accordion-head
						.accordion__el-head-text 1. Как часто можно получать бонусные баллы?
						.accordion__el-head-icon
					.accordion__el-content.text.js-accordion-content
						p Платежный план «переезд в готовый дом» - дает возможность будущему покупателю переехать из квартиры в загородный дом без полной оплаты за домовладение! Для быстрого переезда в готовый загородный дом достаточно внести 10% от стоимости коттеджа и Вы можете заселяться!
						p На продажу имеющейся в собственности у покупателя квартиры предоставляется рассрочка четыре месяца. По факту реализации квартиры оплачивается остаточная стоимость за домовладение.
				.accordion__el.js-accordion-el
					.accordion__el-head.js-accordion-head
						.accordion__el-head-text 2. Как потратить баллы?
						.accordion__el-head-icon
					.accordion__el-content.text.js-accordion-content
						p Платежный план «переезд в готовый дом» - дает возможность будущему покупателю переехать из квартиры в загородный дом без полной оплаты за домовладение! Для быстрого переезда в готовый загородный дом достаточно внести 10% от стоимости коттеджа и Вы можете заселяться!
						p На продажу имеющейся в собственности у покупателя квартиры предоставляется рассрочка четыре месяца. По факту реализации квартиры оплачивается остаточная стоимость за домовладение.

			.g-row
				.g-md-8.g-xs-12
					.type--main.text У Вас появились вопросы?! <br> Напишите нам на delivery@letbefit.ru или whatsapp <br>+7 (925) 907-35-12 и мы с радостью вас проконсультируем.
				.g-md-4.g-xs-12
					.msg.bg-stateWarningBG
						.type-stateWarning.type--center Внимание! Скидки по акциям не суммируются!

		// sale
		.main-cont
			.title.title--lgx Акции
			.sale-list-container
				.sale-list
					- for (var i=0;i<3;i++)
						a(href="#").sale-el
							.sale-el__img(style="background-image:url('img/sale-1.jpg')")
							.sale-el__content
								.sale-el__text Копи баллы - питайся бесплатно! Бонусная программа для наших клиентов
								.sale-el__get.link--mark Посмотреть
		// sale === end

	+footer()
include ./block_html/_script.pug
