include block_html/_style.pug
include block_html/_include.pug

.page#header
	+header()
	.content.content--clear
		.offer-full-page.bg-gradient
		.sale-descr.text
			h1 Копи баллы - питайся бесплатно! Бонусная программа для наших клиентов
			h3 Отзывы
			p Вы оставляете отзыв с фотографией Вашей еды/пакета в любой из соцсетей: instagram, vk.com, facebook
			p Ссылку на отзыв присылаете в наш whatsapp - мы обрабатываем и присваиваем Вам 500 баллов за каждый уникальный отзыв!
			p 1 балл = 1 рублю
			p Отзыв можно публиковать не более 1 раза в неделю. Бонусы начисляются при наличие активного заказа.
			h3 Рекомендации друзьям
			p Вы рекомендуете наш сервис Вашим друзьям и знакомым.<br> Ваш знакомый, делая заказ, называет Ваш контактный телефон или e-mail адрес.<br> Вы и Ваш друг получаете по 500 бонусных баллов на свой счет!
			h3 И сразу ответим на уже появившиеся у Вас вопросы:
			.accordion.active.js-accordion.mb-80
				.accordion__el.js-accordion-el
					.accordion__el-head.js-accordion-head
						.accordion__el-head-text 1. Как часто можно получать бонусные баллы?
						.accordion__el-head-icon
					.accordion__el-content.text.js-accordion-content
						p Платежный план «переезд в готовый дом» - дает возможность будущему покупателю переехать из квартиры в загородный дом без полной оплаты за домовладение! Для быстрого переезда в готовый загородный дом достаточно внести 10% от стоимости коттеджа и Вы можете заселяться!
						p На продажу имеющейся в собственности у покупателя квартиры предоставляется рассрочка четыре месяца. По факту реализации квартиры оплачивается остаточная стоимость за домовладение.
				.accordion__el.js-accordion-el
					.accordion__el-head.js-accordion-head
						.accordion__el-head-text 2. Как потратить баллы?
						.accordion__el-head-icon
					.accordion__el-content.text.js-accordion-content
						p Платежный план «переезд в готовый дом» - дает возможность будущему покупателю переехать из квартиры в загородный дом без полной оплаты за домовладение! Для быстрого переезда в готовый загородный дом достаточно внести 10% от стоимости коттеджа и Вы можете заселяться!
						p На продажу имеющейся в собственности у покупателя квартиры предоставляется рассрочка четыре месяца. По факту реализации квартиры оплачивается остаточная стоимость за домовладение.
	+footer()
include ./block_html/_script.pug
