@import '_s-grid-settings'
@import '_s-grid-functions'
@import '_s-grid-classes'

.g
	display: flex

.g-between
	justify-content space-between
	align-items center
	flex-wrap wrap
	grid-gap 20px

.gap-12
	grid-gap 12px

.gap-20
	grid-gap 20px

.f
	display: flex

.f-grow
	flex-grow 1

.f-between
	justify-content space-between

.f-center
	align-items center

.fw
	flex-wrap wrap