@import '_s-grid-settings'
@import '_s-grid-functions'
@import '_s-grid-classes'

.g
	display: flex

.g-between
	justify-content space-between
	align-items center
	flex-wrap wrap

.f
	display: flex

.f-grow
	flex-grow 1

.fw
	flex-wrap wrap

.f-column
	flex-flow column

.f-mid
	align-items center
	justify-content center

.f-aic
	align-items center

.f-aife
	align-items: flex-end

.f-aifs
	align-items: flex-start

.f-between
	align-items center
	justify-content space-between

.f-jcsb
	justify-content space-between

.f-jcc
	justify-content center

.f-jcfe
	justify-content flex-end

.f-jcfs
	justify-content flex-start

.alignSelf-fs
	align-self: flex-start

.alignSelf-fe
	align-self: flex-end

