-
	pages = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Программа Vegan',
			'href': 'program-vegan'
		},
		{
			'name': 'Программа 21 день',
			'href': 'program-diet'
		},
		{
			'name': 'Программа Light',
			'href': 'program-light'
		},
		{
			'name': 'Программа Normal',
			'href': 'program-normal'
		},
		{
			'name': 'Программа Balance',
			'href': 'program-balance'
		},
		{
			'name': 'Программа Strong',
			'href': 'program-strong'
		},
		{
			'name': 'Программа Daily',
			'href': 'program-daily'
		},
		{
			'name': 'Программа Everydaily',
			'href': 'program-everydaily'
		},
		{
			'name': 'Программа Fish',
			'href': 'program-fish'
		},
		{
			'name': 'Программа Detox',
			'href': 'program-detox'
		},
		{
			'name': 'Программа Корпоративная',
			'href': 'program-corp'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Лендинг тренера',
			'href': 'lp-coach'
		},
		{
			'name': 'Ретеил',
			'href': 'retail'
		},
		{
			'name': 'ЛК тренера',
			'href': 'lk-coach'
		},
		{
			'name': 'Блог список',
			'href': 'blog-list'
		},
		{
			'name': 'Блог подробная',
			'href': 'blog-item'
		},
		{
			'name': 'FAQ',
			'href': 'faq'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акции подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Сотрудничество',
			'href': 'cooperation'
		},
		{
			'name': 'Подарочный сертификат',
			'href': 'present'
		},
		{
			'name': 'Подарочный сертификат оформление',
			'href': 'order-present'
		},
		{
			'name': 'Доставка',
			'href': 'delivery'
		},
		{
			'name': 'Способы оплаты',
			'href': 'payment'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Наше производство',
			'href': 'production'
		},
		{
			'name': 'Франшиза',
			'href': 'franchise'
		},
		{
			'name': 'Контакты',
			'href': 'contact'
		},
		{
			'name': 'Публичная офферта',
			'href': 'offer'
		},

		{
			'name': '404',
			'href': 'error-404'
		},
		{
			'name': 'Кабинет главная',
			'href': 'lk-main'
		},
		{
			'name': 'Кабинет заказы',
			'href': 'lk-order'
		},
		{
			'name': 'Кабинет заказы соритрованные',
			'href': 'lk-order-sort'
		},
		{
			'name': 'Кабинет заказы доставленные',
			'href': 'lk-order-delivered'
		},
		{
			'name': 'Кабинет исключения',
			'href': 'lk-exceptions'
		},
		{
			'name': 'Кабинет партнеры',
			'href': 'lk-partners'
		},
		{
			'name': 'Кабинет настройки',
			'href': 'lk-tools'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]


-
	nav = [
		'Акции',
		'Программы',
		'Отзывы',
		'Доставка',
		'Оплата',
		'Вопрос - ответ',
		'Блог',
		'О нас',
		'Сотрудничество',
	]
-
	navSm = [
		'Акции',
		'Отзывы',
		'Доставка',
		'Оплата',
		'Вопрос - ответ',
		'Блог',

	]
-
	navAdd = [
		{
			'title': 'Сбросить вес',
			'list':['ExtraLight','Light']
		},
		{
			'title': 'Поддерживать форму',
			'list': ['Normal', 'Balance']
		},
		{
			'title': 'Набрать массу',
			'list': ['Strong']
		},
		{
			'title': 'Питание без мяса',
			'list': ['Veggi','Vegetarian', 'Pesco']
		},
		{
			'title': 'Питание в офисе',
			'list': ['Daily','Every Daily', 'Breakfast']
		},
		{
			'title': 'Защита здоровья',
			'list': ['Antivirus']
		},
		{
			'title': 'Очищение организма',
			'list': ['Detox','Post']
		},
	]

-
	pagesDef = [
		{
			'name': 'Элементы',
			'href': 'elements'
		},
		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акция подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Личный кабинет',
			'href': 'lk'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'order'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Отзывы',
			'href': 'review'
		},
		{
			'name': 'Оферта',
			'href': 'offer'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		}
	]

