//build:js ./js/combined.js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/slick-carousel/slick/slick.js')
script(src="bower/page-scroll-to-id/jquery.malihu.PageScroll2id.js")
script(src='bower/jquery-mask-plugin/dist/jquery.mask.js')
script(src='bower/mixitup/dist/mixitup.min.js')
script(src="bower/fancybox/dist/jquery.fancybox.js")
script(src='bower/jquery-circle-progress/dist/circle-progress.min.js')
script(src="./js/jquery.mousewheel.min.js")
script(src="./js/dragscroll.js")
script(src="bower/ion.rangeSlider/js/ion.rangeSlider.js")
// endbuild

script(src="./js/add-on.js")
script(src="./js/script.js")
script(src="./js/script-edit.js")

</body>
</html>